.navbar {
    background-color: rgba(131, 32, 224, 0.596);
}
.aboutus {
    background-color: rgba(203, 180, 224, 0.596);
}
.margin {
    padding: 30px;;
}
.textaboutus {
    background-color: rgba(243, 240, 247, 0.596);
}